@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Bold.otf') format('otf');
}
*{
    margin: 0;
    padding: 0;
}
.modal-xl {
    width: 90%;
    max-width:1300px;
}
.title {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    background-color: #FFF;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: #3E79A2;
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.add_field {
    width: 90%;
    height: 205px;
    margin: auto;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 40px;
    .form_cat_add {
        width: 95%;
        height: 50px;
        margin: auto;
        line-height: 50px;
        label {
            font-family: Circular Std;
            font-style: normal;
            font-weight: bold;

        }
        #cat_name {
            width: 65%;
            height: 35px;
            border: 1px solid #29516C;
            border-radius: 5px;
            margin-left: 10px;
            padding-left: 20px;
            outline: none;
        }
        #key_name {
            width: 20%;
            height: 25px;
            border: 1px solid #29516C;
            border-radius: 5px;
            margin-left: 10px;
            padding-left: 10px;
            outline: none;
        }
        .cat_select {
            width: 20%;
            height: 25px;
            border: 1px solid #29516C;
            border-radius: 5px;
            margin-left: 10px;
            padding-left: 20px;
            outline: none;
            margin-right: 5%;
        }
        #add_button {
            height: 35px;
            margin-top: -2px;
            cursor: pointer;
            margin-left: 20px;
        }
    }
    .cat_show {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        .input_cat_show {
            background-color: #F1F1F1;
            border-radius: 4px;
            border: none;
            height: 18px;
            font-family: Circular Std;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            padding: 10px;
            float: left;
            margin-left: 5px;
            margin-top: 2px;
            cursor: pointer;
        }
        .input_cat_show_delete {
            width: 2%;
            height: 20px;
            background-color: #F1F1F1;
            margin-left: -2px;
            margin-top: 2px;
            float: left;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            img {
                background-color: #F1F1F1;
                margin-top: -8px;
                margin-left: 25%;
            }
        }
    }
    .key_show {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        .input_key_show {
            background-color: #F1F1F1;
            border-radius: 4px;
            border: none;
            height: 18px;
            font-family: Circular Std;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            padding: 10px;
            float: left;
            margin-left: 5px;
            margin-top: 2px;
            cursor: pointer;
        }
        .input_key_show_delete {
            width: 2%;
            height: 20px;
            background-color: #F1F1F1;
            margin-left: -2px;
            margin-top: 2px;
            float: left;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            img {
                background-color: #F1F1F1;
                margin-top: -8px;
                margin-left: 25%;
            }
        }
    }
}
#user_name {
    width: 80%;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    padding-left: 15px;
}
#user_email {
    width: 80%;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    padding-left: 15px;
}
#user_password {
    width: 80%;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    padding-left: 15px;
}